<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jpjproxy.dao.CustomerSmsMapper" >
  <resultMap id="BaseResultMap" type="com.jpjproxy.entity.CustomerSms" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="customer_id" property="customerId" jdbcType="BIGINT" />
    <result column="linkman_phone" property="linkmanPhone" jdbcType="VARCHAR" />
    <result column="sms_type" property="smsType" jdbcType="INTEGER" />
    <result column="sms_time" property="smsTime" jdbcType="TIMESTAMP" />
    <result column="sms_content" property="smsContent" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, customer_id, linkman_phone, sms_type, sms_time, sms_content, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_customer_sms
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_customer_sms
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jpjproxy.entity.CustomerSms" >
    insert into t_customer_sms (id, customer_id, linkman_phone, 
      sms_type, sms_time, sms_content, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{customerId,jdbcType=BIGINT}, #{linkmanPhone,jdbcType=VARCHAR}, 
      #{smsType,jdbcType=INTEGER}, #{smsTime,jdbcType=TIMESTAMP}, #{smsContent,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jpjproxy.entity.CustomerSms" >
    insert into t_customer_sms
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="linkmanPhone != null" >
        linkman_phone,
      </if>
      <if test="smsType != null" >
        sms_type,
      </if>
      <if test="smsTime != null" >
        sms_time,
      </if>
      <if test="smsContent != null" >
        sms_content,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="linkmanPhone != null" >
        #{linkmanPhone,jdbcType=VARCHAR},
      </if>
      <if test="smsType != null" >
        #{smsType,jdbcType=INTEGER},
      </if>
      <if test="smsTime != null" >
        #{smsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="smsContent != null" >
        #{smsContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jpjproxy.entity.CustomerSms" >
    update t_customer_sms
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="linkmanPhone != null" >
        linkman_phone = #{linkmanPhone,jdbcType=VARCHAR},
      </if>
      <if test="smsType != null" >
        sms_type = #{smsType,jdbcType=INTEGER},
      </if>
      <if test="smsTime != null" >
        sms_time = #{smsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="smsContent != null" >
        sms_content = #{smsContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jpjproxy.entity.CustomerSms" >
    update t_customer_sms
    set customer_id = #{customerId,jdbcType=BIGINT},
      linkman_phone = #{linkmanPhone,jdbcType=VARCHAR},
      sms_type = #{smsType,jdbcType=INTEGER},
      sms_time = #{smsTime,jdbcType=TIMESTAMP},
      sms_content = #{smsContent,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="listByCustomerId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from ${tableName}
    where customer_id = #{customerId}
  </select>
</mapper>